*{
	margin: 0px;
	padding: 0px;
}
.header_mobile
{
	position:relative;
	background-color:#e6e6e6;
	height:106px;
	width:100%;	
}
.logo{
	
	position:absolute;
	right:90px;
	line-height:106px;
	font-size:30px;
}
.bar{
	position:absolute;
	line-height:106px;
	font-size:35px;
	right:30px;
}
.greet{
	padding-top: 100px;
	text-align: center;
}
.mapZone{
	background-image: url(.../images/MAP.PNG);
	width: 347px;
	height: 356px;
}
@media only screen and (max-width: 480px) {
	.logo{
	
		position:absolute;
		right:30px;
		line-height:106px;
		font-size:30px;
	}
	.bar{
		position:absolute;
		line-height:106px;
		font-size:35px;
		left:30px;
	}
}
