.nav 
{
	position:relative;
	background-color:#e6e6e6;
	height:106px;
	width:100%;
	
}

.bar{
	position:absolute;
	line-height:106px;
	font-size:35px;
}
.logo{
	position:absolute;
	right:30px;
	line-height:106px;
	font-size:30px;
}
